<%- include('layout', {body: content}) %>


<% var content = (function() { %>
    
    <% if (user) { %>
        <form action="" method="POST">
            <label for="title">Title</label>
            <input name="title" placeholder="title" type="text" value="<%= title %>" />
            <label for="content">Content</label>
            <textarea id="content" name="content" rows="4" cols="35"><%= content %></textarea> <!-- content and title are populated -->
            <button>Post</button>
          </form>        
          
          <% } else { %>
          <p>Only members can update messages</p>
          <% } %>



          <% })(); %>
